<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SidebarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>617D648B1AD5FE3800BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617D64951AD5FE3800BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617D64BD1AD6020C00BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617D64C71AD6020C00BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617D65081AD60DFD00BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617D65121AD60DFD00BA7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EECF0D177C99F400778578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
